<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta name="description" content="">
    <meta name="author" content="Constru-tech">
        <title>Constru-tech</title>
        <link rel="stylesheet" href="css/all.min.css">
        <link rel="stylesheet" href="css/jquery-confirm.min.css">
        <link rel="stylesheet" href="css/jquery-ui.css">
        <link rel="stylesheet" href="css/themes-jquery-ui.css">
        <link rel="stylesheet" href="css/dashboard.css">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
        li.badge>button{
            line-height: 0.8em !important;
        }
        li.badge>span{
            color: black !important;
        }
        .jconfirm .jconfirm-box.jconfirm-animation-news{
            transform: rotate(400deg) scale(0);
            animation-duration: 3s;
        }      
        </style>
    </head>
    <body>
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 bg-white" href="#">
                <img src="images/logo.png" class="d-inline-block align-text-top w-50">
            </a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="#">Perfil</a>
                </div>
            </div>
        </header>
                <main>
                    {{{body}}}                
                </main>
                <div class="mt-5 p-4 bg-dark text-white text-center " style="z-index: 9999;bottom: 0px;position: absolute;">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 fs-6"><p>Copyright &copy; Constru-tech 2023</p></div>
                            <div class="col-4 fs-5">Soporte: <i class="fa-brands fa-whatsapp"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>