<div class="container-fluid">
    <div class="row">
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">    
            <div class="container-fluid">
                <div class="row">
                    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                        <div class="position-sticky pt-3">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/index">
                                        <i class="fa-solid fa-gauge-high"></i>
                                        Inicio
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/usersList">
                                        <i class="fa-solid fa-users"></i>
                                        Usuarios
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/roles">
                                        <i class="fa-solid fa-user-tie"></i>
                                        Roles
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/permisos">
                                        <i class="fa-solid fa-user-gear"></i>
                                        Permisos
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/empleados">
                                        <i class="fa-solid fa-user-group"></i>
                                        Empleados
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/especialidad">
                                        <i class="fa-solid fa-screwdriver-wrench"></i>
                                        Especialidades
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/proveedores">
                                        <i class="fa-solid fa-truck"></i>
                                        Proveedores
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/materiales">
                                        <i class="fa-solid fa-box-open"></i>
                                        Materiales
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/categorias">
                                        <i class="fa-solid fa-book"></i>
                                        Categorias
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/compras">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        Compras
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/obras">
                                        <i class="fa-solid fa-map-location-dot"></i>
                                        Obras y tiempos
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/clientes">
                                        <i class="fa-solid fa-id-card"></i>
                                        Clientes
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <form  method="POST" id="form-usuario" action="/addUsu">
                <div class="card text-center w-100">
                <div class="card-header bg-primary text-white">
                  <h2>Agregar usuario</h2>
                </div>            
                {{> userForm}}
              </div>               
            </form>
          </div>
        </div>
      </div>
    <script type="text/javascript" src="js/jquery-3.6.0.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="Bootstrap-4-Multi-Select-BsMultiSelect/Bootstrap-4-Multi-Select-BsMultiSelect/dist/js/BsMultiSelect.min.js"></script>
    <script src="Bootstrap-4-Multi-Select-BsMultiSelect/Bootstrap-4-Multi-Select-BsMultiSelect/dist/js/BsMultiSelect.bs4.min.js"></script>
    <script src="js/38595e06c7.js"></script>
    <script src="js/jquery-confirm.min.js"></script>
    <script src="js/validaciones.js"></script>
    <script src="js/moment.js"></script>
    <script>
        let formUser = $("#form-user");
        /*$('#add').on('click', async function(){*/
        let password = $("#password").val();
        let empleado = $("#empleado").val();
        let rol = $("#rol").val();
        let estado = $("#estado").val();
    </script>
